{% extends "positions/template.html" %}

{% block tablecontent %}
	<tr>
		<th>Player Name</th>
		<th><a href="{{ request.path }}?sort=ppr">PPR Points</a></th>
		<th><a href="{{ request.path }}?sort=fantasy">Fantasy Points</a></th>
		<th><a href="{{ request.path }}?sort=receiving_yds">Receiving Yards</a></th>
		<th><a href="{{ request.path }}?sort=receiving_tar">Receiving Targets</a></th>
		<th><a href="{{ request.path }}?sort=receiving_tds">Receiving TDs</a></th>
		<th><a href="{{ request.path }}?sort=rushing_yds">Rushing Yards</a></th>
		<th><a href="{{ request.path }}?sort=rushing_att">Rushing Attempts</a></th>
		<th><a href="{{ request.path }}?sort=rushing_tds">Rushing TDs</a></th>
		<th><a href="{{ request.path }}?sort=rushing_loss_yds">Rushing Loss Yards</a></th>
	</tr>
	{% for pp, f, p in stats %}
	<tr>
		<td>
			{% if user.is_authenticated %}
			<span>
				<a href="#" data-toggle="modal" data-target="#addModal-{{ pp.player.player_id }}"><i class="glyphicon glyphicon-plus"></i></a>  {{ pp.player }}
			</span>

			<div id="addModal-{{ pp.player.player_id }}" class="modal fade" role="dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Add {{ pp.player }} to Team</h4>
					</div>

					<div class="modal-body" name="checkboxes-{{ pp.player.player_id }}">
						{% for team in user.userteam_set.all %}
							<div class="checkbox">
								<label><input type="checkbox" name="{{ team.id }}" value="">{{ team }}</label>
							</div>
						{% endfor %}
					</div>

					<div class="modal-footer">
						<button id="add-{{ pp.player.player_id }}" type="submit" class="btn btn-primary">Add</button>
						<button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>	<!-- modal-content -->
			</div> <!-- modal fade -->

			<script type="text/javascript">
				$('#add-{{ pp.player.player_id }}').on('click', function(event) {
					add_player_to_team(
							"{{ pp.player.player_id }}",
							"{% url 'add-to-team' pp.player.player_id %}",
							"{{ csrf_token }}"
					);
					
					$('#addModal-{{ pp.player.player_id}}').modal('hide');
				});
			</script>

			{% else %}
			{{ pp.player }}
			{% endif %}
		</td>
		<td>{{ p }}</td>
		<td>{{ f }}</td>
		<td>{{ pp.receiving_yds }}</td>
		<td>{{ pp.receiving_tar }}</td>
		<td>{{ pp.receiving_tds }}</td>
		<td>{{ pp.rushing_yds }}</td>
		<td>{{ pp.rushing_att }}</td>
		<td>{{ pp.rushing_tds }}</td>
		<td>{{ pp.rushing_loss_yds }}</td>
	</tr>
	{% endfor %}
{% endblock %}
