{% extends "positions/template.html" %}

{% block poscontent %}
	<table class="table table-striped">
		<tr>
			<th>Player Name</th>
			<th><a href="{{ request.path }}?sort=receiving_yds">Receiving Yards</a></th>
			<th><a href="{{ request.path }}?sort=receiving_tar">Receiving Targets</a></th>
			<th><a href="{{ request.path }}?sort=receiving_tds">Receiving TDs</a></th>
			<th><a href="{{ request.path }}?sort=rushing_yds">Rushing Yards</a></th>
			<th><a href="{{ request.path }}?sort=rushing_att">Rushing Attempts</a></th>
			<th><a href="{{ request.path }}?sort=rushing_tds">Rushing TDs</a></th>
			<th><a href="{{ request.path }}?sort=rushing_loss_yds">Rushing Loss Yards</a></th>
		</tr>
		{% for pp in stats %}
		<tr>
			<td>{{ pp.player }}</td>
			<td>{{ pp.receiving_yds }}</td>
			<td>{{ pp.receiving_tar }}</td>
			<td>{{ pp.receiving_tds }}</td>
			<td>{{ pp.rushing_yds }}</td>
			<td>{{ pp.rushing_att }}</td>
			<td>{{ pp.rushing_tds }}</td>
			<td>{{ pp.rushing_loss_yds }}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
