appdirs==1.4.3
beautifulsoup4==4.5.3
Django==1.10.6
django-allauth==0.31.0
django-tables2==1.4.2
enum34==1.1.6
httplib2==0.10.3
nfldb==0.2.17
nflgame==1.2.20
oauthlib==2.0.2
packaging==16.8
psycopg2==2.7.1
pyparsing==2.2.0
python-openid==2.2.5
pytz==2016.10
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
