{% extends "base_generic.html" %}

{% block content %}
<div class="page-header">
	<h1>NFL Teams</h1>
</div>

{% load static %}
{% if team_list %}
	{% for team in team_list %}
		{% if team.team_id != "UNK" %}
		<div class="col-xs-6 col-md-3 col-lg-2">
			<div class="thumbnail">
				<a href="{% url 'nfl-team-detail' team.team_id %}">
					{% with 'images/'|add:team.name|add:'.png' as img_path %}
					<img class="img-thumbnail" src="{% static img_path %}" alt="{{ team.name }}">
					{% endwith %}
					<div class="caption">
						<h3 class="text-center">{{ team.city }}<br/>{{ team.name }}</h3>
					</div>
				</a>
			</div>
		</div>
		{% endif %}
	{% endfor %}
{% else %}
<p>There are no teams!</p>
{% endif %}

{% endblock %}
