{% extends "base_generic.html" %}

{% load i18n %}
{% load addcss %}

{% block content %}
<div class="container">

	<div class="container-center" style="padding-top:80px">
	
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">Create Team</div>
			</div>

			<div style="padding-top:30px" class="panel-body">

				<form class="login" method="POST" action="">
					{% csrf_token %}
					
					<div class="form-group">
						{{ form.team_name.errors }}
						<div class="input-group">
							{{ form.team_name.label_tag }}
							{{ form.team_name|addcss:"form-control" }}
						</div>
					</div>

					<input type="hidden" value="{{ request.user.id }}" name="user_id">
					<button class="primaryAction" type="submit" style="float:right">{% trans "Create" %}</button>

				</form>

			</div> <!-- panel-body -->

		</div> <!-- panel -->

	</div> <!-- container-center -->

</div> <!-- container -->


{% endblock %}
