{% extends "base_generic.html" %}

{% block content %}
<div class="page-header">
	<h1>{{ team }}</h1>
</div>

<div class="container-fluid">
	<div id="alert_placeholder"></div>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<tr>
			<th>Player Name</th>
			<th>Team</th>
			<th>Position</th>
			<th>PPR Points</th>
			<th>Fantasy Points</th>
			<th>Passing Yards</th>
			<th>Completions</th>
			<th>Rushing Yards</th>
			<th>Rushing Attempts</th>
			<th>Rushing Touchdowns </td>
			<th>Receiving Yards</th>
			<th>Receiving Targets</th>
			<th>Receiving Touchdowns</th>
		</tr>
		{% for pp, f, p in qbs %}
		<tr>
			<td>{{ pp.player.full_name }}</td>
			<td>{{ pp.player.team }}</td>
			<td>{{ pp.player.position }}</td>
			<td>{{ p }}</td>
			<td>{{ f }}</td>
			<td>{{ pp.passing_yds }}</td>
			<td>{{ pp.passing_cmp }} / {{ pp.passing_att }}</td>
			<td>{{ pp.rushing_yds }}</td>
			<td>{{ pp.rushing_att }}</td>
			<td>{{ pp.rushing_tds }}</td>
			<td>{{ pp.receiving_yds }}</td>
			<td>{{ pp.receiving_tar }}</td>
			<td>{{ pp.receiving_tds }}</td>
		</tr>
		{% endfor %}
		{% for pp, f, p in rbs %}
		<tr>
			<td>{{ pp.player.full_name }}</td>
			<td>{{ pp.player.team }}</td>
			<td>{{ pp.player.position }}</td>
			<td>{{ p }}</td>
			<td>{{ f }}</td>
			<td>{{ pp.passing_yds }}</td>
			<td>{{ pp.passing_cmp }} / {{ pp.passing_att }}</td>
			<td>{{ pp.rushing_yds }}</td>
			<td>{{ pp.rushing_att }}</td>
			<td>{{ pp.rushing_tds }}</td>
			<td>{{ pp.receiving_yds }}</td>
			<td>{{ pp.receiving_tar }}</td>
			<td>{{ pp.receiving_tds }}</td>
		</tr>
		{% endfor %}
		{% for pp, f, p in wrs %}
		<tr>
			<td>{{ pp.player.full_name }}</td>
			<td>{{ pp.player.team }}</td>
			<td>{{ pp.player.position }}</td>
			<td>{{ p }}</td>
			<td>{{ f }}</td>
			<td>{{ pp.passing_yds }}</td>
			<td>{{ pp.passing_cmp }} / {{ pp.passing_att }}</td>
			<td>{{ pp.rushing_yds }}</td>
			<td>{{ pp.rushing_att }}</td>
			<td>{{ pp.rushing_tds }}</td>
			<td>{{ pp.receiving_yds }}</td>
			<td>{{ pp.receiving_tar }}</td>
			<td>{{ pp.receiving_tds }}</td>
		</tr>
		{% endfor %}
		{% for pp, f, p in tes %}
		<tr>
			<td>{{ pp.player.full_name }}</td>
			<td>{{ pp.player.team }}</td>
			<td>{{ pp.player.position }}</td>
			<td>{{ p }}</td>
			<td>{{ f }}</td>
			<td>{{ pp.passing_yds }}</td>
			<td>{{ pp.passing_cmp }} / {{ pp.passing_att }}</td>
			<td>{{ pp.rushing_yds }}</td>
			<td>{{ pp.rushing_att }}</td>
			<td>{{ pp.rushing_tds }}</td>
			<td>{{ pp.receiving_yds }}</td>
			<td>{{ pp.receiving_tar }}</td>
			<td>{{ pp.receiving_tds }}</td>
		</tr>
		{% endfor %}
		{% for pp, f, p in oth %}
		<tr>
			<td>{{ pp.player.full_name }}</td>
			<td>{{ pp.player.team }}</td>
			<td>{{ pp.player.position }}</td>
			<td>{{ p }}</td>
			<td>{{ f }}</td>
			<td>{{ pp.passing_yds }}</td>
			<td>{{ pp.passing_cmp }} / {{ pp.passing_att }}</td>
			<td>{{ pp.rushing_yds }}</td>
			<td>{{ pp.rushing_att }}</td>
			<td>{{ pp.rushing_tds }}</td>
			<td>{{ pp.receiving_yds }}</td>
			<td>{{ pp.receiving_tar }}</td>
			<td>{{ pp.receiving_tds }}</td>
		</tr>
		{% endfor %}
	</table>
</div> <!-- table-responsive -->
{% endblock %}
